
<div *ngIf="isLogin$ | async as islogin">

<app-aircrafts-navbar></app-aircrafts-navbar>
<ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
        <div class="p-2"> Loading </div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
        <div class="p-2"> Loaded </div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
        <div class="p-2 text-danger"> {{state.errorMessage}} </div>
    </ng-container>

    <table class="table table-striped">
        <thead class="table-success">
            <tr >
                <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aircraft of state.aircrafts" >
                <td>{{aircraft.id}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
                <td><button class="btn btn-outline-info" routerLink="/entities">details</button></td>
            </tr>
        </tbody>
    </table>
    <ng-container *ngIf="countAlertAircrafts$ | async as countArcrafts">
        <div class="p-2 text-danger"> number of aircraft design and devs at true {{countArcrafts}} </div>
    </ng-container>
</ng-container>
</div>


